@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    margin: 0;
    padding: 0;
}
.dados{
    display: none;
}
.btn{
    border: 0;
    padding: 3px;
    background: rgba(0,0,0,0);
}
.dir{
    padding-right: 4px;
}
.esq{
    padding-left: 4px;
}
.calendario{
    margin: auto;
    width: 500px;
    padding: 15px;
}
.btn:active,.btn:focus{
    outline: none;
}
.mes-ano{
    text-align: center;
    flex-grow: 1;
}
.cale,.tab-nav{
    width: 500px;
}
.cale{
    border-collapse: collapse;
}
.tab-nav{
    display: flex;  
}
.tab-nav{
    background: #157dfb;
}
.tab-nav,th,td{
    height: 45px;
}
th{
    color: #157dfb;
}
td{
    border: 1px solid #ccc;
}
th,td{
    width: 14,28%;
    text-align: center;
}
.dir,.mes-ano,.esq{
    margin: auto;
}
.btn,.mes-ano{
    font-size: 20px;
    color: #fff;
}
.ativo{
    background: #157dfb !important;
    color: #fff !important;
}
.pertencente{
    cursor: pointer;
}
th,.pertencente,.calendario{
    background: #F2F1EF;
}
.forasteiro{
    background: #fff;
}
.btn,.mes-ano,th,td{
    font-family: 'Open Sans', sans-serif;
}
